* {
    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 127px;
    
}
.user a:visited{
    color: #4A4A4A;
}

.user a.button{
    width: 150px;
    height: 40px;
    background-color: #4C56C0;
    display: inline-block;
    border-radius: 7px;
    color: white;
    text-align: center;

}

.workplace-img{
    left: -60px;
}

.menu {
    font-family: Raleway;
    text-decoration: none;
    font-size: 23px;
}

.menu a {
    margin-right: 70px;
    text-decoration: none;
    font-size: 23px;
    color: #4A4A4A;
}

.user a{
    font-family: Raleway;
    margin-left: auto;
    text-decoration: none;
    font-size: 23px;
    color: #4A4A4A;
}

.user a , .user button{
    font-family: Raleway;
    text-decoration: none;
    font-size: 23px;
    margin-left: 35px;
}

.logo {
    margin-right: 76px;
}

.text-section{
    padding-left: 140px;
}
.text-section h1{
    width: 1000px;
    margin-bottom: 55px;
    font-size: 77px;
    font-family: Raleway;
}

.text-section p{
    width: 1100px;
    margin-bottom: 55px;
    font-family: Raleway;
    font-size: 34px;
}
.workplace-img{
    width: 80%;
    height: auto;
}

.card-layout{
    font-family: Raleway;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 140px * 2);
    margin: 0 auto;
    margin-top: 162px;
    margin-bottom: 236px;
}
.card-layout h2{
    width: 480px;
    font-family: Raleway;
    color: white;
    font-size: 55px;
    padding-top: 63px;
    padding-left: 57px;
    padding-bottom: 50px;
}
.card-layout p{
    width: 625px;
    height: 222px;
    font-family: Raleway;
    color: white;
    font-size: 28px;
    padding-left: 50px;
}
.card-layout ul li{
    font-family: Raleway;
    color: white;
    font-size: 26px;
    padding-left: 57px;
    margin-bottom: 16px;
}
.card-layout img{
    height: 41%;
    position: absolute;
    padding-left: 357px;

}
.card{
    font-family: Raleway;
    width: 755px;
    margin-right: 130px;
    height: 990px;
    position: relative;
    background-color: #FCC242;
    float: left;
}

.card:first-child .button{
    background: #4C56C0;
    font-size: 26px;
    color: white;
    text-align: center;
}

.card:last-child{
    background-color: #4C56C0;

}

.card:last-child .button {
    background: #FCC242;
    font-size: 26px;
    color: white;
    text-align: center;
    
}

.card ul li{
    list-style-type: none;
    position: relative;
}

.card ul li:before{
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 8px;
}

.card .button{
    position: absolute;
    font-size: 26px;
    left: 55px;
    bottom: 90px;
    display: inline-block;
    background-color: #FCC242;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;

}

.download{
    display: flex;

}

.text-box h3{
    margin-left: 140px;
    width: 628px;
    font-family: Raleway;
    font-size: 48px;
    margin-bottom: 53px;
}
.text-box p{
    margin-left: 140px;
    width: 628px;
    font-family: Raleway;
    font-size: 34px;
    margin-bottom: 61px;

}

.hike{
    padding-top: 200px;
}

.hike img{
    margin-left: 140px;
    
}
.trial{
    background-color: #4C56C0;
    width: 690px;
    height: 795px;
    margin-left: 186px;
    margin-top: -517px;
    padding-left: 43px;
    padding-top: 78px;
    position: relative;
    z-index: 0;
}
.trial h2{
    font-family: Raleway;
    font-size: 93px;
    width: 610px;
    color: white;
    margin-bottom: 53px;
}
.trial p{
    width: 628px;
    font-family: Raleway;
    font-size: 42px;
    color: white;
    margin-bottom: 50px;
}
.trial button{
    position: absolute;
    font-family: Raleway;
    font-size: 26px;
    text-decoration: none;
    color: white;
    width: 190px;
    padding-left: 43px;
    padding-top: 616px;
    padding-bottom: 127px;
    display: inline-block;
    background-color: #FCC242;
    border-radius: 5px;
    padding: 5px;
}
.trial a{
    text-decoration: none;
    color: white;
}
.download .download-img{
    display: flex;
    margin-left: 140px;
}
.download .startup{
    margin-left: 75px;
}

.logo-group{
    display: flex;
    margin: 140px;
}

.testimonials{
    position: relative;
    overflow: hidden;
    padding-bottom: 1500px;
}

.testimonials h2{
    margin-left: 900px;
    font-family: Raleway;
    font-size: 48px;
    width: 290px;
    color: #000000;
    margin-bottom: 60px; 
}

.testimonials-text p{
    margin-left: 675px;
    width: 735px;
    font-family: Raleway;
    color: #000000;
    font-size: 34px;
    text-align: center;
}

.quote{
    position: relative;
    display: flex;
    z-index: 0;
}

.quote p{
    font-family: Roboto;
    font-size: 18px;
    color: #ACA8AF;
    z-index: 10;
}

.quote .one{
    position: absolute;
    left: 150px;
    width: 385px;
    height: 225px;
    background-color: white;
    border: 1px  white;
    border-radius: 11px;
    box-shadow: 0 0 25px #9A5EC8;
    padding: 10px;
    z-index: 2;
}
.one p{
    position: absolute;
    left: 150px;
   
}
.one .foto-one{
    position: absolute;
    left: 150px;
    top: auto;
    z-index: 5;
}
.quote .two{
    position: absolute;
    left: 187px;
    top: 657px;
    width: 300px;
    height: 175px;
    background-color: white;
    border: 1px  white;
    border-radius: 11px;
    box-shadow: 0 0 25px #9A5EC8;
    padding: 10px;
    z-index: 2;
    
}
.two p{
    position: absolute;
    left: 1450px;
}
 .two .foto-two{
    position: absolute;
    left: 1450px;
    top: auto;
    z-index: 5;
}

.quote .three{
    position: absolute;
    left: 700px;
    top: 308px;
    width: 580px;
    height: 340px;
    background-color: white;
    border: 1px  white;
    border-radius: 11px;
    box-shadow: 0 0 25px #9A5EC8;
    padding: 10px;
    z-index: 2;
}
.three p{
    position: absolute;
    left: 350px;
    width: 580px;
    height: 340px;
}
.quote .foto-three{
    position: absolute;
    left: 350px;
    top: auto;
    z-index: 5;
}

.quote .four{
    left: 750px;
    position: absolute;
    width: 386px;
    height: 226px;
    background-color: white;
    border: 1px  white;
    border-radius: 11px;
    box-shadow: 0 0 10px #9A5EC8;
    padding: 10px;
    z-index: 2;
}
.four p{
    position: absolute;
    left: 750px;
    width: 386px;
    height: 226px;
}
.quote .foto-four{
    position: absolute;
    left: 750px;
    top: auto;
    z-index: 5;
}

.quote .five{
    position: absolute;
    top: 345px;
    right: 157px;
    width: 300px;
    height: 175px;
    background-color: white;
    border: 1px  white;
    border-radius: 11px;
    box-shadow: 0 0 10px #9A5EC8;
    padding: 10px;
    z-index: 2;
}
.five p{
    position: absolute;
    top: 545px;
    right: 250px;
    width: 300px;
    height: 175px;
    z-index: 5;
}
.quote .foto-five{
    position: absolute;
    top: 545px;
    right: 250px;
    z-index: 5;
}

.quote div::before{
    padding-bottom: 50px;
    content: '"';
    font-size: 300px;
    color: #9A5EC8;
}

.footer .logo{
    position: absolute;
    z-index: 10;
    top: 1250px;
    left: 140px;
}

.footer .contact-us{
 position: absolute;
 left: 555px;
 top: 1230px;
 font-family: Roboto;
 font-size: 23px;
}

h3{
    width: 165px;
    font-family: Roboto;
    font-size: 23px;
    width: 140px;
    color: white;
    margin-bottom: 23px;
}

.footer ul li{
    list-style-type: none;
    padding-bottom: 30px;
    color: white;
    font-size: 23px;
}

.contact-us a{
    text-decoration: none;
    font-family: Roboto;
    font-size: 23px;
    color: white;
}

.footer .our-company{
    position: absolute;
    left: 1000px;
    top: 1230px;
    font-family: Roboto;
    font-size: 23px;
}

.footer .law{
    position: absolute;
    left: 1250px;
    top: 1275px;
    font-family: Roboto;
    font-size: 23px;
}

.footer .social-contacts{
    position: absolute;
    left: 1600px;
    top: 1230px;
    font-family: Roboto;
    font-size: 23px;
}

.footer .background{
    position: absolute;
    z-index: -10;
    left: - 15%;
    right: -30%;
    bottom: -45%;
    z-index: -10;
}













